<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--Battleye RCON Host-->
        <add key="host" value="127.0.0.1"/>
        <!--Battleye RCon port-->
        <add key="port" value="2302"/>
        <!--Battleye RCON Password-->
        <add key="password" value=""/>
    </appSettings>
</configuration>